﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Vista/Site1.Master" AutoEventWireup="true" CodeBehind="ReporteTareasNuevasTurno.aspx.cs" Inherits="CodorniX.Vista.ReporteTareasNuevasTurno" %>

<%@ Register Assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" Namespace="Microsoft.Reporting.WebForms" TagPrefix="rsweb" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContenidoDelSitio" runat="server">
	<div class="row">
		<div class="col-xs-12">
			<rsweb:ReportViewer ID="ReportViewer1" runat="Server" ProcessingMode="Local" AsyncRendering="true" />
		</div>
	</div>
</asp:Content>
