﻿.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-ys table > tbody > tr > td {
        display: inline;
    }

		.pagination-ys table > tbody > tr > td > a,
		.pagination-ys table > tbody > tr > td > span {
			position: relative;
			float: left;
			padding: 6px 8px;
			line-height: 1.42857143;
			text-decoration: none;
			color: #888;
			background-color: #ffffff;
			border: 1px solid #dddddd;
			margin-left: -1px;
			font-size: 0.9em;
		}

		.pagination-ys table > tbody > tr > td > span {
			position: relative;
			float: left;
			padding: 8px 10px;
			line-height: 1.42857143;
			text-decoration: none;
			margin-left: -1px;
			margin-top:-2px;
			z-index: 2;
			color: #333;
			background-color: #f5f5f5;
			border-color: #dddddd;
			cursor: default;
			font-size: 0.9em;
		}

        .pagination-ys table > tbody > tr > td:first-child > a,
        .pagination-ys table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td:last-child > a,
        .pagination-ys table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-ys table > tbody > tr > td > a:hover,
        .pagination-ys table > tbody > tr > td > span:hover,
        .pagination-ys table > tbody > tr > td > a:focus,
        .pagination-ys table > tbody > tr > td > span:focus {
            color: #97310e;
            background-color: #eeeeee;
            border-color: #dddddd;
        }
